.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    position: sticky;
    top:0;
    z-index: 1001;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar-links .login-btn {
    padding: 8px 16px;
    background-color: white;
    color: #4caf50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .navbar-links .login-btn:hover {
    background-color: #45a049;
    color: white;
  }
  